.crypto-details {
  text-align: center;
  color: whitesmoke;
  padding: 20px;
}

.logo-container {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.logo {
  width: 130px; /* Adjust the width as needed */
  height: 130px; /* Adjust the height as needed */
  animation: spin 2s linear infinite; /* Spin animation */
}

@keyframes spin {
  from {
    transform: rotate(0deg); /* Start rotation at 0 degrees */
  }
  to {
    transform: rotate(360deg); /* End rotation at 360 degrees */
  }
}

.details-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.details-box {
  flex: 0 0 calc(25% - 20px);
  background-color: #222;
  border: 2px solid #ba25e8;
  padding: 15px;
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
}

.details-box:hover {
  border-color: #ba25e8;
  box-shadow: 0 0 20px rgba(186, 37, 232, 0.4);
}

.details {
  text-align: center;
  margin-top: 10px;
}

.details p {
  margin: 5px 0;
}

.time-granularity {
  margin-top: 20px;
}

.chart-container {
  margin-top: 20px;
  width: 100%;
}
